
@import url(https://emanuelsoniax.github.io/);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
    background: black;
    position: relative;
}

/* Style for mobile devices/small screens */
@media (width <= 550px){

    .menu-background{
        display: block;
        background-image: url('../DevBoy.png') !important;
        background-size: cover;
        aspect-ratio: 47/73;
        position: fixed;
        margin-left: 10%;
        margin-right: 10%;
        bottom: -50vw;
        width: 80%;
        height: auto;
        z-index: 100;
    }
    
    .menu-container {
        position: relative;
        padding-top: 25%;
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 90%;
        overflow: hidden;
        height: 100%;
    }
    
    .menu-item{
        position: relative;
        font-size: clamp(12px, 4vw, 26px);
        text-align: left;
        width: 80%;
        padding-bottom: 6%;
    }
    
    .menu-item a{
        position: relative;
        color: #00000050;
        font-weight: 700;
        text-decoration: none;
        max-height: 1em;
    }
    
    .menu-item a:hover, .menu-item a.active{
        color: #333;
    }
    
    .menu-item a.active:before, .menu-item a:hover:before{
        content:  '>';
    }
    
    section{
        position: relative;
        display: flex;
        align-items: right;
        min-height: 100vh;
        background-color: #101010;
    }
    
    section:nth-child(odd){
        background-color: #1b1b1b;
    }
    
    section .container{
        content: '';
        margin-right: 10%;
        margin-left: 10%;
        height: auto;
        z-index: 10;
    }
    
    section .container h1{
        text-align: center;
        color: white;
        margin-top: 20%;
        font-size: clamp(30px, 1vw, 100px);
    }
    
    section .container text{
        font-family: Calibri;
        text-align: center;
        color: white;
    }
    
    section .container .project{
        text-align: left;
        margin-top: 10%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    section .container .project:last-child{
        margin-bottom: 10%;
    }
    
    section .container .project img{
        display: inline-block;
        align: center;
        object-fit: cover;
        aspect-ratio: 57/65;
        max-width: 100%;
        height: auto;
    }
    
    section .container .project h1{
        position: relative;
        margin-top: 0%;
        font-size: clamp(15px, 1vw, 40px);
        height: 2em;
        margin-bottom: 1em;
        margin-top: 1em;
        text-align: center;
    }
}

/* Desktop syle */
@media (width > 550px){
    .menu-background{
        display: block;
        background-image: url('../DevBoy.png') !important;
        background-size: cover;
        aspect-ratio: 47/73;
        position: fixed;
        float: left;
        left: 10%;
        top: 15%;
        bottom: 20%;
        width: auto;
        height: 35vw;
        z-index: 1000;
    }
    
    .menu-container {
        position: relative;
        padding-top: 25%;
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 90%;
        overflow: hidden;
        height: 100%;
    
    }
    
    .menu-item{
        position: relative;
        font-size: clamp(2px, 1.4vw, 20px);
        text-align: left;
        width: 80%;
        padding-bottom: 6%;
    }
    
    
    .menu-item a{
        position: relative;
        color: #00000050;
        font-weight: 700;
        text-decoration: none;
        max-height: 1em;
    }
    
    .menu-item a:hover, .menu-item a.active{
        color: #333;
    }
    
    .menu-item a.active:before, .menu-item a:hover:before{
        content:  '>';
    }
    
    section{
        position: relative;
        display: flex;
        align-items: right;
        min-height: 100vh;
        background-color: #101010;
    }
    
    section:nth-child(odd){
        background-color: #1b1b1b;
    }
    
    section .container{
        content: '';
        margin-right: 5%;
        max-width: 55%;
        height: auto;
        z-index: 10;
    }
    
    section .container h1{
        text-align: center;
        color: white;
        margin-top: 10%;
    }
    
    section .container text{
        font-family: Calibri;
        text-align: center;
        color: white;
    }
    
    section .container .project{
        display:flex;
        float: left;
        margin-top: 10%;
        height: auto;
        width: 100%;
    }
    
    section .container .project:nth-child(odd){
        flex-direction: row-reverse;
    }
    
    section .container .project:last-child{
        margin-bottom: 10%;
    }
    
    section .container .project img{
        display: inline-block;
        object-fit: cover;
        aspect-ratio: 57/65;
        max-width: 60%;
        height: auto;
    }
    
    section .container .project h1{
        display: inline-block;
        position: relative;
        margin-top: 0%;
        font-size: clamp(15px, 1vw, 40px);
        width: 100%;
        margin-bottom: 1em;
        text-align: right;
        margin-left: 1em;
        margin-right: 0;
    }
    section .container .project:nth-child(odd) h1{
        text-align: left;
        margin-left: 0;
        margin-right: 1em;
    }
}