
@import url(https://emanuelsoniax.github.io/);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
    background: black;
    position: relative;
}

/* Style for mobile devices/small screens */
@media (width <= 550px){

    .menu-background{
        display: block;
        background-image: url('../DevBoy.png') !important;
        background-size: cover;
        aspect-ratio: 47/73;
        position: fixed;
        margin-left: 10%;
        margin-right: 10%;
        bottom: -50vw;
        width: 80%;
        height: auto;
        z-index: 100;
    }
    
    .menu-container {
        position: relative;
        padding-top: 25%;
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 90%;
        overflow: hidden;
        height: 100%;
    }
    
    .menu-item{
        position: relative;
        font-size: clamp(12px, 4vw, 26px);
        text-align: left;
        width: 80%;
        padding-bottom: 6%;
    }
    
    .menu-item a{
        position: relative;
        color: #00000050;
        font-weight: 700;
        text-decoration: none;
        max-height: 1em;
    }
    
    .menu-item a:hover, .menu-item a.active{
        color: #333;
    }
    
    .menu-item a.active:before, .menu-item a:hover:before{
        content:  '>';
    }
    
    section{
        position: relative;
        display: flex;
        min-height: 100vh;
        background-color: #101010;
    }
    
    section:nth-child(odd){
        background-color: #1b1b1b;
    }
    
    section .container{
        content: '';
        margin-right: 10%;
        margin-left: 10%;
        height: auto;
        z-index: 10;
    }
    
    section .container h1{
        text-align: center;
        color: white;
        margin-top: 20%;
        font-size: clamp(30px, 1vw, 100px);
    }
    
    section .container text{
        font-family: Calibri;
        text-align: center;
        color: white;
    }
    
    section .container .project{
        display: flex;    
        text-align: left;
        margin-top: 10%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%; 
        margin-bottom: 10%;
        
        flex-direction: column-reverse;
    }

    section .container .project:hover{
        cursor: pointer;
    }
    
    section .container .project:last-child{
        margin-bottom: 10%;
    }

    section .container .project .sub{
        display: flex;
        flex-direction: column;
    }
    
    
    section .container .project .imagewrapper{
        display: flex;
        flex-direction: column;
        object-fit: cover;
        min-width: 40%;
        height: auto;
        margin-top: 10%;
        margin-bottom: 20%;
    }

    section .container .project img{
        aspect-ratio: 57/65;
        width: 100%;
    }

      section .container .project .imagewrapper img:nth-child(2){
        display: none;  
    }

    section .container .project:hover .imagewrapper img:first-child{
        display: none; 
    }
    section .container .project:hover .imagewrapper img:nth-child(2){
        display: inline-block; 
    }

    section .container .project .imagewrapper .cover{
        position: relative;
        background-size: cover;
        background-position: center;
        aspect-ratio: 43/38;
        height: auto;
        width: 72%;
        z-index: 20;
        margin-left: 14.1%;
        margin-top: -77.5%;
    }

    section .container .project h1{
        position: relative;
        margin-top: 0%;
        font-size: clamp(15px, 1vw, 40px);
        height: auto;
        margin-top: 1em;
        text-align: left;
    }

     section .container .project text{
         height: auto;
         width:100%;
     }

     section .container .project .btn{
         display: block;
         background-color: white;
         position: relative;
         width: 80%;
         margin-top: 10%;
         left: 10%;
         right: 10%;
     }
}

.global-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

/* Desktop syle */
@media (width > 550px){
    .menu-background{
        display: block;
        background-image: url('../DevBoy.png') !important;
        background-size: cover;
        aspect-ratio: 47/73;
        position: fixed;
        float: left;
        left: 10%;
        top: 15%;
        bottom: 20%;
        width: auto;
        height: 35vw;
        z-index: 1000;
    }
    
    .menu-container {
        position: relative;
        padding-top: 25%;
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 90%;
        overflow: hidden;
        height: 100%;
    
    }
    
    .menu-item{
        position: relative;
        font-size: clamp(2px, 1.3vw, 20px);
        text-align: left;
        width: 80%;
        padding-bottom: 5%;
    }
    
    
    .menu-item a{
        position: relative;
        color: #00000050;
        font-weight: 700;
        text-decoration: none;
        max-height: 1em;
    }
    
    .menu-item a:hover, .menu-item a.active{
        color: #333;
    }
    
    .menu-item a.active:before, .menu-item a:hover:before{
        content:  '>';
    }
    
    section{
        position: relative;
        display: flex;
        min-height: 100vh;
        background-color: #101010;
    }
    
    section:nth-child(odd){
        background-color: #1b1b1b;
    }
    
    section .container{
        content: '';
        margin-right: 5%;
        max-width: 55%;
        height: auto;
        z-index: 10;
    }
    
    section .container h1{
        text-align: center;
        color: white;
        margin-top: 10%;
    }
    
    section .container text{
        font-family: Calibri;
        text-align: center;
        color: white;
    }
    
    section .container .project{
        display:flex;
        flex-direction: row;
        float: left;
        margin-top: 10%;
        height: auto;
        width: 100%;
    }

    section .container .project:hover{
        cursor: pointer;
    }
    
    section .container .project:nth-child(odd){
        flex-direction: row-reverse;
    }
    
    section .container .project:last-child{
        margin-bottom: 10%;
    }
    
    section .container .project .imagewrapper{
        display: flex;
        flex-direction: column;
        object-fit: cover;
        min-width: 40%;
        height: auto;
        margin-bottom: 5%;
    }
    section .container .project img{
        aspect-ratio: 57/65;
        width: 100%;
    }

    section .container .project .imagewrapper img:nth-child(2){
        display: none;  
    }

    section .container .project:hover .imagewrapper img:first-child{
        display: none; 
    }
    section .container .project:hover .imagewrapper img:nth-child(2){
        display: inline-block; 
    }


    section .container .project .imagewrapper .cover{
        position: relative;
        background-size: cover;
        background-position: center;
        aspect-ratio: 43/38;
        height: auto;
        width: 72%;
        z-index: 20;
        margin-left: 14.1%;
        margin-top: -77.5%;
    }

    section .container .project .sub{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-left: 1em;
    }
    
    section .container .project .sub img{   
        width: 100%;
        height: auto;
        float: left;
        margin: 1em;
        margin-top: 0;
    }

     section .container .project:nth-child(odd) .sub{
        margin-right: 3em;
        margin-left: 0;
    }

    section .container .project h1{
        display: inline-block;
        position: relative;
        margin-top: 0%;
        font-size: clamp(15px, 1vw, 40px);
        width: auto;
        margin-bottom: 1em;
        text-align: center;
        margin-left: 1em;
        margin-right: 0;
    }

    section .container .project text{
         display: inline-block;
         position: relative;    
         margin-left: 10%;
         margin-right: 10%;
         height: auto;
         width: auto;
         text-align: center;
    }

     section .container .project .btn{
         display: none;
     }
}