
@import url(https://emanuelsoniax.github.io/);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
    background: black;
    position: relative;
}

.menu-background{
    display: block;
    background-image: url('../DevBoy.png') !important;
    background-size: cover;
    aspect-ratio: 47/73;
    position: fixed;
    float: left;
    left: 10%;
    top: 15%;
    bottom: 20%;
    width: auto;
    height: 35vw;
    z-index: 1000;
}

.menu-container {
    position: relative;
    padding-top: 25%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 90%;
    overflow: hidden;
    height: 100%;

}

.menu-item{
    position: relative;
    font-size: clamp(5px, 1vw, 24px);
    text-align: left;
    width: 80%;
    padding-bottom: 6%;
}

.menu-item a{
    position: relative;
    color: #00000050;
    font-weight: 700;
    text-decoration: none;
    max-height: 1em;
}

.menu-item a:hover, .menu-item a.active{
    color: #333;
}

.menu-item a.active:before, .menu-item a:hover:before{
    content:  '>';
}

section{
    position: relative;
    display: flex;
    align-items: right;
    min-height: 100vh;
    background-color: #101010;
}

section:nth-child(odd){
    background-color: #1b1b1b;
}

section .container{
    content: '';
    margin-right: 5%;
    max-width: 55%;
    height: auto;
    background-color: red;
    z-index: 10;
}

section .container h1{
    text-align: center;
    color: white;
    margin-top: 10%;
}

section .container text{
    font-family: Calibri;
    text-align: center;
    color: white;
}
