*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
    background-color: teal;
}
.menu{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
}
.menu .logo-inline{
    width: 82px;
}
.menu a{
    font-size: clamp(10px, 2vw, 18px);
    padding: 15px 5px;
    color: #00000050;
    font-weight: 700;
    text-decoration: none;
}

.menu a:hover , 
.menu a.active
{
    color: #333;
}
.titlebar{
    background: white;
    width: 100%;
    padding-top: 100px;
    height: 30vh;   
}

.title{
    display: flex;
    position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    font-size: clamp(30px, 8vw, 60px);
    color: black;
    pointer-events: none;
}

section {
    float: left;
    margin: 0 1.5%;
    width: 63%;
    padding-top: 15px;
}

section h1{
    color: #FFFFFF;
    margin-top: 10px;
    font-size: clamp(10px, 2vw, 25px);
    text-align: left;
}

section div{
    color: #FFFFFF;
    font-size: clamp(12px, 2vw, 25px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
    justify-content: center;
    object-fit: contain;
}

aside {
    float: right;
    margin: 0 1.5%;
    width: 30%;
  }

aside img{
    width: 100%;
    padding-top: 20px;
    justify-content: left;
    object-fit: contain;
}

button{
    background-color: white;
    color: black;
    font-size: clamp(9px, 2vw, 16px);
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
      
button:hover {
    background-color: black;
    color: white;
}